/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f9f9f9;
    color: #333;
  }
  
  header,
  footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  h1,
  h2,
  h3 {
    margin-bottom: 1rem;
  }
  
  ul {
    list-style: none;
    margin-bottom: 1rem;
  }
  
  li {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
  }
  
  form label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  form input,
  form textarea,
  form select {
    display: block;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  form button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #555;
  }
  
  form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  form button:disabled:hover {
    background-color: #ccc;
  }
  
  @media (max-width: 600px) {
    main {
      padding: 0.5rem;
    }
  
    h1 {
      font-size: 2rem;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  
    h3 {
      font-size: 1.25rem;
    }
  }  

  #task {
    margin-top: 100px;
  }

  #users  {
    margin-top: 100px;
  }